.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1 {
  font-size: 4rem;
  color: #333333;
  margin: 0;
}

.container h3 {
  color: #333333;
  margin: 0;
  font-size: 2rem;
}

.btns {
  margin-top: 3rem;
}

.btns button {
  width: 100%;
  font-size: 1.25rem;
  padding: 0.5rem 3rem;
}

.btns__row1 {
  display: flex;
  gap: 1rem;
}

.btns__row2 {
  margin-top: 1.5rem;
}
