.container {
  background: rgba(255, 255, 255, 1);
  margin-top: 0.5rem;
  /* padding: 0.3rem 0.5rem; */
  border-radius: 0.25rem;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);

  overflow: hidden;
}

.container:hover {
  background: rgba(200, 200, 200, 0.3);
}

.container:hover .task_title button {
  opacity: 0.2;
}

.task_title {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 0rem 0.75rem;
  height: 2.5rem;
  line-height: 2.5rem;
}

.task_title button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  width: 2rem;
  opacity: 0;
}
