.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url('../assets/background.png');
  background-size: cover;
  background-repeat: repeat-y;
  background-position: center;
}

.container {
  width: 100%;
  max-width: 45rem;
  padding-bottom: 6rem;
}
