.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(0, 215, 255);
  background: linear-gradient(90deg, rgba(0, 215, 255, 1) 0%, rgba(0, 106, 167, 1) 100%);
}

.container {
  min-width: 45rem;
  padding-bottom: 6rem;
}
